<!-- //checkout page for transactions -->
<html *ngIf="!visible">
  <head>
    <title>Buy cool new product</title>
    <iframe src="" frameborder="0"></iframe>
    <link rel="stylesheet" href="./farmerlist.component.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <section>
      <div *ngFor="let crop of data" class="product">
        <img mat-card-image  src="{{crop.crop_img}}" alt="{{crop.crop_img}}">
        <h3>{{crop.crop_name}}</h3>
        <div class="description">
          <h5>Rs.{{crop.crop_price}}</h5>
        </div>
      </div>
      <button type="button" id="checkout-button"> <a href="C:\nodejs\CropDeal\BackEnd\stripe\checkout.html">Checkout</a> </button>
    </section>
  </body>

</html>
<html *ngIf="visible">
<head>
  <title>Checkout canceled</title>
  <link rel="stylesheet" href="./farmerlist.component.css">
</head>
<body>
  <section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
  </section>
</body>
</html>

