<!-- //checkout page for transactions -->
<html *ngIf="!visible">
  <head>
    <script src="https://checkout.stripe.com/checkout.js"></script>

  </head>
  <body>
    <section>
      <div *ngFor="let crop of data" class="product">
        <img mat-card-image  src="{{crop.crop_img}}" alt="{{crop.crop_img}}">
        <h3>{{crop.crop_name}}</h3>
        <div class="description">
          <h5>Rs.{{crop.crop_price}}</h5>
        </div>
      </div>
      <button type="button" (click)="pay(5000)" id="checkout-button">Checkout: Rs {{amount}}</button>
         <!-- <a href="C:\nodejs\CropDeal\BackEnd\stripe\checkout.html">Checkout</a> </button> -->
    </section>
  </body>

</html>
<html *ngIf="visible">
<head>
  <title>Checkout canceled</title>
  <link rel="stylesheet" href="./farmerlist.component.css">
</head>
<body>
  <section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
  </section>
</body>
</html>

<!-- <html *ngIf="!show"> -->
<!-- <head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href=".././complete/complete.component.css">
</head>
<body>
  <section class="finish">
    <div>
      We appreciate your business! If you have any questions, please email
      <a href="mailto:orders@example.com">kschaithra21@gmail.com</a>
      <br>
      <br><br>
     You can collect crop from farmer and to buy more click <a href="/crop">BUY MORE</a> below.
    </div>
    <br><br>
    <button (click)="goback()" mat-raised-button>BUY MORE</button>
  </section>
</body> -->

