  body{
    padding: 0%;
    margin:0%;
    text-align: center;
    background-image: url("https://media.istockphoto.com/photos/woman-hand-using-mobile-phone-with-online-transaction-application-picture-id895289310?k=6&m=895289310&s=612x612&w=0&h=_ZhugzLWurPGr14bJ35QgMvr9-3xqmK5sBcZILVewvA=");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
} 
  td, th {
   width: 25%;
  }
 
  table {
      padding: 2%;
      margin: 2% 2% 2% 5%;
      font-family: arial, sans-serif;
      width: 80%;
  }
  th{
    font-weight: bolder;
    font-size: larger;
  }

  td {
    border: 1px solid #fdfcfc;
    text-align: left;
    font-weight: bold;
    padding: 3px;
  }
  b{
    font-size: x-large;
  }