  body{
    padding: 0%;
    margin:0%;
    text-align: center;
} 
  td, th {
    width: 25%;
  }
 
  table {
      padding: 2%;
      margin: 2% 2% 2% 5%;
      font-family: arial, sans-serif;
      width: 80%;
  }
  th{
    font-weight: bolder;
    font-size: larger;
  }

  td {
    border: 1px solid #fdfcfc;
    text-align: left;
    font-weight: bold;
    padding: 3px;
  }
  
  tr:nth-child(even) {
    color: white;
    background-color: #674fee;
  }