<body>
  <nav>
  <div>
      <button mat-icon-button [matMenuTriggerFor]="appMenu"><mat-icon>menu</mat-icon></button>
      <button mat-icon-button (click)="cropspage()"><mat-icon>store</mat-icon></button>
      <button mat-icon-button (click)="cartpage()"><mat-icon>shopping_cart</mat-icon></button>
      <button mat-icon-button (click)="getdealers()"><mat-icon>account_circle</mat-icon></button>
      
      
     
  </div>
</nav>
  <mat-menu color="primary" #appMenu="matMenu">
      <ng-template matMenuContent let-name="name">
      <button mat-menu-item (click)="registerpage()"><mat-icon>account_circle</mat-icon>REGISTER</button>
      <button mat-menu-item (click)="loginpage()"><mat-icon>account_circle</mat-icon>SIGN-IN</button>
      <button mat-menu-item ><a href="#"><mat-icon>exit_to_app</mat-icon>LOGOUT</a></button>
      </ng-template>
  </mat-menu>
  
</body>
<router-outlet></router-outlet>