<body>
    <div>
        <button mat-raised-button (click)="clearTable()">Clear table</button>
        <button mat-raised-button (click)="addData()">Add data</button>
      </div>
    
    <table>
        <tr>
            <th>CROP NAME</th>
            <th>CROP TYPE</th>
            <th>CROP QUANTITY</th>
            <th>COST</th>
          </tr>
        <tr *ngFor="let cropobj of add">
            <td>{{cropobj.crop_name}}</td>
            <td>{{cropobj.crop_type}}</td>
            <td>{{cropobj.crop_quantity}}</td>
            <td>{{cropobj.crop_price}}</td>
        </tr>
    </table>    
</body>


  <table mat-table [dataSource]="add" class="mat-elevation-z8">
    <ng-container matColumnDef="CROP NAME">
      <th mat-header-cell *matHeaderCellDef>CROP NAME</th>
      <td *matCellDef="let transaction"> {{transaction.crop_name}} </td>
      <td > Total </td>
    </ng-container>

    <ng-container matColumnDef="CROP TYPE">
      <th mat-header-cell *matHeaderCellDef>CROP TYPE</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.crop_type}} </td>
    </ng-container>

        <ng-container matColumnDef="QUANTITY">
            <th mat-header-cell *matHeaderCellDef>QUANTITY</th>
            <td mat-cell *matCellDef="let transaction" >{{transaction.crop_quantity}} </td>    
        </ng-container>

        <ng-container matColumnDef="COST">
            <th mat-header-cell *matHeaderCellDef>COST</th>
         <td mat-cell *matCellDef="let transaction"> {{transaction.crop_price | currency}} </td>
            <!-- <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td> -->
        </ng-container>
  
    <ng-container matColumnDef="item-description">
      <th mat-header-cell *matHeaderCellDef> Name of the item purchased </th>
    </ng-container>

    <ng-container matColumnDef="type-description">
        <th mat-header-cell *matHeaderCellDef> Type of the item in USD </th>
      </ng-container>

      <ng-container matColumnDef="quantity-in-Kgs">
        <th mat-header-cell *matHeaderCellDef> Quantity of the item in kg </th>
      </ng-container>
  
  <ng-container matColumnDef="cost-description-in-Rs">
      <th mat-header-cell *matHeaderCellDef> Cost of the item in USD </th>
    </ng-container>
  
    <ng-container matColumnDef="disclaimer">
      <td mat-footer-cell *matFooterCellDef colspan="2">
        Please note that the cost of items displayed are completely and totally made up.
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"
        class="example-first-header-row">
    </tr>
    <tr mat-header-row *matHeaderRowDef="['item-description','type-description','quantity-in-Kgs', 'cost-description-in-Rs']"
        class="example-second-header-row">
    </tr>

  
    <tr mat-footer-row *matFooterRowDef="displayedColumns" class="example-first-footer-row"></tr>
    <tr mat-footer-row *matFooterRowDef="['disclaimer']" class="example-second-footer-row"></tr>
  </table>
