  body{
    padding: 0%;
    margin:0%;
    text-align: center;
} 
  td, th {
    width: 25%;
  }
 
  table {
      padding: 2%;
      margin: 8%;
      font-family: arial, sans-serif;
      width: 80%;
  }
  button{
    margin: 100px 10px 0px 10px;
    padding: 10px;
    width: 200px;

  }
  td, th {
    border: 1px solid #fdfcfc;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    color: white;
    background-color: #674fee;
  }