h4{
  text-align: center;
}
body{
  margin-left: 3%;
  padding:20px;
  text-align: center;
  /* background-image: url("https://media.istockphoto.com/vectors/fresh-vegetables-seamless-pattern-vector-id1145293728?k=6&m=1145293728&s=612x612&w=0&h=sP2yfxkry-ENAJxYhlyFlcRaXo8NBhY7RJzgW3uj2xM=") ;
  background-size: cover;
  overflow: scroll;
  background-repeat: no-repeat; */
 }
div{
  color: red;
  font-weight: bold;
}
input{
  color: black;
}
h3{
  font-weight: bold;
  color: black;
}
button.redirect{
  float:right;
}
img{
  width: 200px;
  height:200px;
}
.example-card {
  padding:1%;
  margin: 1%;
  max-width: 200px;
}
nav{
  display: block;
  padding-block: 30px;
}
.example-header-image {
  background-size: cover;
}
mat-card{
  display: inline-table;
  height:300px;  
}

mat-card-content{
text-align: left;
height: 40px;
}

mat-card-title{
  text-align: left;
  height:50px
}

mat-card-subtitle{
  text-align: left;
}
a{
  text-decoration: none;
}
button.add,button.sub{
  background-color: white;
  border-radius: 5px;
}
button{
  background-color: white;
  border:none
}