body{
    padding: 0%;
    margin:0%;
    text-align: center;
    background-image: url("https://cdn.pixabay.com/photo/2017/04/25/19/36/farmer-2260636__480.jpg");
    background-repeat: no-repeat;
    background-size: relative;
    overflow: scroll;
}
div{
    color: red;
    font-weight: bold;
}
input{
    color: black;
}
h3{
    font-weight: bold;
    color: black;
}