<!-- completion of tranaction -->
<html>
<head>
  <title>Thanks for your order!</title>
  <link rel="stylesheet" href="complete.component.css">
</head>
<body>
  <section>
    <p>
      We appreciate your business! If you have any questions, please email
      <a href="mailto:orders@example.com">kschaithra21@gmail.com</a>
      . You can collect crop from farmer and to buy more click <a href="/crop">BUY MORE</a>below.
    </p>

    <button (click)="goback()" mat-button>BUY MORE</button>
  </section>
</body>